* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(244, 244, 244);
}
header {
  background-image: url("/unread.img/4b500d1101336e8a3f6be8fb4521c6c7.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 880px;
  background-blend-mode: darken;
  background-color: rgb(0, 0, 0, 0.4);
}

.nav-bar {
  display: flex;
  padding: 40px 400px;
  justify-content: space-between;
  align-items: center;
}
.burger-menu {
  width: 25px;
  height: 25px;
  opacity: 1;
}

.head-con {
  display: flex;
  gap: 400px;
}
.head-search {
  display: flex;
  text-align: center;
  gap: 50px;
  align-items: center;
}
.head-news {
  display: flex;
  text-align: center;
  align-items: center;
}
.head-news button {
  padding: 8px 18px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #fff;
  font-size: 1.26rem;
  margin-left: 10px;
  border: none;
}
.logo {
  height: 18px;
  width: 134px;
}
.vertical-line {
  border: 1px solid black;
  height: 18px;
}
.search-icon {
  width: 20px;
  height: 20px;
}
.head-search input {
  background: none;
  background-color: transparent;
  border: none;
}

.input-con {
  display: flex;
  align-items: center;
}

.social img {
  height: 20px;
  width: 20px;
}
.opacity05 {
  opacity: 0.5;
}
.next-article {
  font-weight: 600;
  margin-left: 5px;
  color: white;
  margin-left: 5px;
}
.hero-sec {
  display: flex;
  justify-content: center;
  gap: 61px;
}
.hero-sec-img {
  width: 446px;
  height: 446px;
  border-radius: 25px;
}
.hero-today {
  font-size: 400;
  line-height: 2.4rem;
  color: #0078f6;
}
.hero-know {
  color: rgba(255, 255, 255, 0.5);
  font-size: 3.3rem;
  font-weight: 900;
}
.hero-unread {
  font-size: 3.3rem;
  font-weight: 900;
  color: white;
  width: 615px;
}
.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.enkhmunkh-zurg {
  width: 42px;
  height: 42px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  padding: 2px;
}
.enkhmunkh {
  display: flex;
  gap: 1%;
}
.enkhmunkh-text {
  color: white;
}
.enkhmunkh-name {
  opacity: 0.5;
}
.slide-title {
  color: white;
  position: absolute;
  left: 25%;
  top: 55%;
  font-size: large;
  font-weight: bold;
}
.slider-con {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: -200px;
}

.slider-text {
  position: absolute;
  top: 310px;
  font-size: medium;
  margin: 10px 30px;
}
.slider-button {
  position: absolute;
  top: 400px;
  margin: 0 30px;
  border: 5px solid #0078f6;
  border-radius: 20px;
  padding: 1px 11px 1px 11px;
  background-color: #0078f6;
  font-size: small;
}
.slider {
  width: 293.797px;
  height: 433.914px;
  border-radius: 10px;
  background-image: url("./unread.img/f214ecbbae9edfd49dbab990e70348c6.png");
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
  background-color: rgb(0, 0, 0, 0.4);
  color: white;
  position: relative;
}
.slider:hover {
  transform: scale(1.05);
}
.slider {
  transition-duration: 300ms;
}
.slider2 {
  width: 293.797px;
  height: 433.914px;
  border-radius: 10px;
  background-image: url("./unread.img/6dc13475528502b25e38397feb99c727.png");
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
  background-color: rgb(0, 0, 0, 0.4);
  color: white;
  position: relative;
}
.slider2:hover {
  transform: scale(1.05);
}
.slider2 {
  transition-duration: 300ms;
}
.slider3 {
  width: 293.797px;
  height: 433.914px;
  border-radius: 10px;
  background-image: url(".//unread.img/06c81a70abc3c6e36ebe81f34829ed10.jpeg");
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
  background-color: rgb(0, 0, 0, 0.4);
  color: white;
  position: relative;
}
.slider3:hover {
  transform: scale(1.05);
}
.slider3 {
  transition-duration: 300ms;
}
.slider4 {
  width: 293.797px;
  height: 433.914px;
  border-radius: 10px;
  background-image: url("./unread.img/6c7379f6a279651cc886c07f98086bbc.jpeg");
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
  background-color: rgb(0, 0, 0, 0.4);
  color: white;
  position: relative;
}
.slider4:hover {
  transform: scale(1.05);
}
.slider4 {
  transition-duration: 300ms;
}
.slider5 {
  width: 293.797px;
  height: 433.914px;
  border-radius: 10px;
  background-image: url("./unread.img/03967d2f0f1b319e42ac4c8c2de6b0b3.png");
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
  background-color: rgb(0, 0, 0, 0.4);
  color: white;
  position: relative;
}
.slider5:hover {
  transform: scale(1.05);
}
.slider5 {
  transition-duration: 300ms;
}
.thisweek {
  margin-left: 25%;
  margin-top: 5%;
}
.enkhmunkh {
  display: flex;
  gap: 1%;
}
.enkhmunkh-zurg {
  width: 42px;
  height: 42px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  padding: 2px;
}

.enkhmunkh-text2 {
  opacity: 0.5;
}
.thisweek-text {
  height: 183px;
  width: 750px;
  background-color: white;
  border-radius: 0 30px 30px 30px;
  display: flex;
  align-items: center;
}
.enkhmunkh-name2 {
  color: black;
  font-weight: 100;
}
.thisweek-head {
  color: #0078f6;
}
.thisweek {
  font-weight: bolder;
  font-size: larger;
}

.thisweek-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
  width: 440px;
}
.thisweek-bichig {
  font-size: larger;
}
.thisweek-text img {
  width: 250px;
  height: 135px;
}
.thisweek-right {
  margin-left: 50%;
  margin-top: 5%;
}
.enkhmunkh2 {
  display: flex;
  gap: 1%;
  margin-left: 532px;
}
.enkhmunkh-zurg {
  width: 42px;
  height: 42px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  padding: 2px;
}

.enkhmunkh-text2 {
  opacity: 0.5;
}
.thisweek-text2 {
  height: 183px;
  width: 750px;
  background-color: white;
  border-radius: 30px 0px 30px 30px;
  display: flex;
  align-items: center;
}
.enkhmunkh-name2 {
  color: black;
  font-weight: 100;
}
.thisweek-head {
  color: #0078f6;
}
.thisweek {
  font-weight: bolder;
  font-size: larger;
}

.thisweek-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
  width: 440px;
}
.thisweek-bichig {
  font-size: larger;
  font-weight: 800;
}
.thisweek-text2 img {
  width: 135px;
  height: 135px;
  border-radius: 50%;
}
.prev1 {
  background-image: url("./unread.img/prev1.jpeg");
}
.prev2 {
  background-image: url("./unread.img/prev2.png");
}
.prev3 {
  background-image: url("./unread.img/f214ecbbae9edfd49dbab990e70348c6.png");
}
.prev4 {
  background-image: url("./unread.img/prev6.png");
}
.prev5 {
  background-image: url("./unread.img/prev3.jpeg");
}
.prev6 {
  background-image: url("./unread.img/06c81a70abc3c6e36ebe81f34829ed10.jpeg");
}
.prev7 {
  background-image: url("./unread.img/prev4.jpeg");
}
.prev8 {
  background-image: url("./unread.img/prev5.jpeg");
}
.prev9 {
  background-image: url("./unread.img/6c7379f6a279651cc886c07f98086bbc.jpeg");
}
.prev10 {
  background-image: url("./unread.img/03967d2f0f1b319e42ac4c8c2de6b0b3.png");
}
.prev11 {
  background-image: url("./unread.img/ab44cbc261a2708ec974cc0724bdfa09.jpeg");
}
.prev12 {
  background-image: url("/unread.img/03967d2f0f1b319e42ac4c8c2de6b0b3.png");
}
.prev13 {
  background-image: url("./unread.img/4b500d1101336e8a3f6be8fb4521c6c7.jpeg");
}
.prev14 {
  background-image: url("./unread.img/15b480dde130301ccfcb83cc83796577.png");
}
.prev15 {
  background-image: url("./unread.img/75288f9a6f654884726db5e0458cbdef.jpeg");
}
.prev16 {
  background-image: url("./unread.img/prev6.png");
}
.prev-con1 {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  grid-template-rows: 250px 50px 200px;
  gap: 20px;
  justify-content: center;
  margin-top: 80px;
}
.prev {
  border-radius: 20px;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.prev1 {
  grid-column: span 2;
  grid-row: span 2;
}

.prev4 {
  grid-row: span 2;
}
.prev5 {
  grid-row: span 2;
}
.prev-con2 {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  grid-template-rows: 250px 50px 200px 270px;
  gap: 20px;
  justify-content: center;
  margin-top: 80px;
}
.prev8 {
  grid-column: span 2;
  grid-row: span 2;
}

.prev11 {
  grid-row: span 2;
}
.prev12 {
  grid-row: span 2;
}
.prev h1 {
  color: white;
  opacity: 0.5;
  font-size: small;
  font-weight: 100;
  margin: 0 6%;
}
.prev p {
  color: white;
  font-weight: 600;
  margin: 0 6%;
}
.prev div {
  backdrop-filter: blur(10px);
  width: 100%;
  border-radius: 0 0 20px 20px;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
